.header {
    display: flex;
    color: #0000008a;
    justify-content: space-between;
}

.options-radio-group {
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    align-items: flex-start;
}

.options-radio-button {
    margin: 8px;
}

.option-radio-label {
    white-space: normal;
}