.test-card-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.test-card {
    flex: 1;
    margin-bottom: 32px;
}

@media (max-width: 1000px) {
    .test-card-container {
      display: block;
    }

    .test-card {
        margin: 0 auto;
        max-width: 500px;
        margin-bottom: 32px;
    }
  }