<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Enter your name</mat-label>
      <input matInput [(ngModel)]="studentName">
    </mat-form-field>
  </p>
  <p>{{data.instructions}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="studentName" cdkFocusInitial>Start Test</button>
</mat-dialog-actions>
