<div class="main">
    <div class="header">
        <div class="title">
            <input type="text" [(ngModel)]="test.title" class="editable-header">
        </div>
        <div class="actions">
            <div class="upload">
                <input id="test-file-upload" type="file" class="upload" (change)="onFileUpload($event)">
                <label for="test-file-upload" matTooltip="Upload CSV">
                    <button mat-icon-button aria-label="upload-test" type="button"> 
                        <mat-icon>upload</mat-icon>
                    </button>
                </label>
            </div>
            <button mat-button color="primary" (click)="saveTest()">Save</button>
            <button mat-stroked-button color="primary">Publish</button>
        </div>
    </div>
    <div id="sections">
        <div class="all-sections">
            <div class="section-tile" 
                 [ngClass]="{'section-tile-w-border': index == currentSectionIdx}" 
                 *ngFor="let section of test.sections; let index = index" 
                 (click)="onSectionClick(index)">
                    <span>{{section.sectionName}}</span>
                    <mat-icon class="small-icon" (click)="deleteSection(index)">
                        clear
                    </mat-icon>
            </div>
        </div>
        <div (click)="addNewSection()">
        <button mat-icon-button>
            <mat-icon matTooltip="Add a new section">
                add
            </mat-icon>
        </button>
        </div>
    </div>
    <div id="currentSection" *ngIf="test.sections.length > 0">
        <span><strong>Section Name:</strong></span>
        <input type="text" 
               [value]="test.sections[currentSectionIdx].sectionName" 
               placeholder="Section name" 
               [(ngModel)]="test.sections[currentSectionIdx].sectionName"
               class="editable-header">
    </div>
    <div class="exam-builder">
        <div *ngIf="test.sections.length == 0" class="info-message">
            <img src="../../../assets/images/socrates.jpeg" alt="socrates thinking" class="round-medium-image">
            <p>Is it even a test, if it does not have a single question? </p>
            <p>Click <span class="action-text" (click)="addNewQuestion()">here</span> to create one.</p>
        </div>
        <div *ngIf="test.sections.length > 0 && test.sections[currentSectionIdx].questions.length == 0" class="info-message">
            <img src="../../../assets/images/chimp.png" alt="chimp thinking" class="round-medium-image">
            <p>Headmaster Chimp doesn't like a section with no question. </p>
            <p>Click <span class="action-text" (click)="addNewQuestion()">here</span> to create one.</p>
        </div>
        <div *ngIf="test.sections.length > 0">
            <div *ngFor="let question of test.sections[currentSectionIdx].questions;let qIndex = index;">
                <app-question-display 
                    [question]="question" 
                    [qIndex]="qIndex"
                    [currentlyEditingQIdx]="currentQIdx"
                    (deleteQuestion)="deleteQuestion($event)"
                    (duplicateQuestion)="duplicateQuestion($event)"
                    (containerClicked)="onQuestionContainerClick($event)">
                </app-question-display>
    
            </div>
        </div>
        <div class="new-question">
            <!-- <p>Add new question</p> -->
        </div>
    </div>
    
</div>