<div class="main">
    <div class="header">
        <div class="title">
            <h3>Unititled Exam</h3>
        </div>
        <div class="actions">
            <div class="upload">
                <input id="test-file-upload" type="file" class="upload" (change)="onFileUpload($event)">
                <label for="test-file-upload" matTooltip="Upload CSV">
                    <button mat-icon-button aria-label="upload-test" type="button"> 
                        <mat-icon>upload</mat-icon>
                    </button>
                </label>
            </div>
            <button mat-button color="primary">Save</button>
            <button mat-stroked-button color="primary">Publish</button>
        </div>
    </div>
    <div class="exam-builder">
        <div *ngIf="allQuestions.length == 0" class="info-message">
            
            <img src="../../../assets/images/socrates.jpeg" alt="socrates thinking" class="round-medium-image">
            <p>Is it even a test, if it does not have a single question? </p>
            <p>Click <span class="action-text" (click)="addNewQuestion()">here</span> to create one.</p>
        </div>
        <div *ngFor="let question of allQuestions;let qIndex = index;">
            <app-question-display 
                [question]="question" 
                [qIndex]="qIndex"
                [currentlyEditingQIdx]="currentQIdx"
                (deleteQuestion)="deleteQuestion($event)"
                (duplicateQuestion)="duplicateQuestion($event)"
                (containerClicked)="onQuestionContainerClick($event)">
            </app-question-display>

        </div>
        <div class="new-question">
            <!-- <p>Add new question</p> -->
        </div>
    </div>
    
</div>